---
import Layout from "./Layout.astro";
import Dropdown from "../components/Sabores/Dropdown.astro";

const { frontmatter } = Astro.props;

const {
  img,
  alt,
  title,
  subtitle,
  ingredients,
  nutrition,
  allergens,
  formats,
} = frontmatter;

const { categories, values } = nutrition;

const nutritionText = categories.map((category, index) => {
  const text = `${category}: ${values[index]}`;
  return text;
});
---

<Layout title={`Pink Albatross - ${frontmatter.cardName}`}>
  <main class="flex items-center flex-col gap-8 p-8">
    <img src={`/${img}`} alt={alt} class="w-auto h-[300px]" />
    <div class="text-center">
      <h1 class="text-4xl font-black">{title}</h1>
      <h2 class="text-2xl font-black">{subtitle}</h2>
    </div>
    <div class="text-center text-sm leading-relaxed">
      <slot />
    </div>
  </main>
  <section
    id="nutritional-info"
    class="bg-cream py-10 px-2 flex flex-col gap-8"
  >
    <Dropdown
      text="Ingredientes"
      textColor="pink"
      items={ingredients}
      hidden={false}
    />

    <Dropdown
      text="Valores nutricionales (por 100 gr)"
      textColor="blue"
      items={nutritionText}
    />
    <Dropdown text="Alérgenos" textColor="yellow" items={allergens} />
    <Dropdown text="Formatos" textColor="green" items={formats} />
  </section>

  <script>
    // @ts-nocheck

    const $section = document.querySelector("#nutritional-info");
    $section?.addEventListener("click", (e) => {
      const isButton =
        e.target.tagName === "BUTTON" || e.target.tagName === "H3";
      if (!isButton) return;

      const $dropdownContainer = e.target.closest(".dropdown-container");
      const $dropdownMenu = $dropdownContainer.querySelector(".dropdown-menu");

      $dropdownMenu.classList.toggle("hidden");
    });
  </script>
</Layout>
